{% extends 'base.html' %} 
{% block content %}

<h1 class="">Addition Quiz</h1>

<div class="wrapper">
  <div class="equation">
    <h1 id="num1" style="color:#FE4A49"></h1>
    <h1 style="color: #2AB7CA;">+</h1>
    <h1 id="num2" style="color: #FED766">1</h1>
    <h1 style="color: #F86624">=</h1>
    <h1 id="result" style="color: gray">?</h1>
  </div>
  <div class="answer-options">
    <div class="options" style="background-color: #FE4A49;" onclick="checkAnswer(this)">
      <h1 id="option1">1</h1>
    </div>
    <div class="options" style="background-color: #2AB7CA;" onclick="checkAnswer(this)">
      <h1 id="option2">2</h1>
    </div>
    <div class="options" style="background-color: #FED766;" onclick="checkAnswer(this)">
      <h1 id="option3">3</h1>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">Correct Answers</h5>
          <p class="card-text" id="correct-count">0</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title">Incorrect Answers</h5>
          <p class="card-text" id="incorrect-count">0</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="answer-feedback"></div>

<script src="{{url_for('static', filename='js/add.js')}}"></script>
{% endblock %}
