{% extends 'base.html' %} {% block content %}
<div class="container pb-5">
  
  
    <!-- <div class="col d-inline">
            <h1>Number of questions:</h1>
    </div>
    <div class="col d-inline">
        <select name="count" class="form-select form-select-lg mb-3"  hx-trigger="change" hx-get="/add" hx-target="#problems">
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="60">60</option>
        </select>
    </div> -->
    <!-- <div class="col">
    <div class="input-group mb-3">
        <label class="input-group-text h1" for="questionCount">Number of Questions:</label>
        <select name="count" class="form-select w-25 h1" id="questionCount" hx-trigger="change" hx-get="/add" hx-target="#problems">
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="60">60</option>
            <option value="80">80</option>
            <option value="100">100</option>
        </select>
        <label for="questionCount">Works with selects</label>
      </div>
    </div> -->

    <div class="row g-2 pb-3 d-print-none">
        <div class="col">
          <div class="form-floating h-100 g-3">
            <label class="input-group-text" for="questionCount"><h2>Number of Questions:</h2></label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select name="count" class="form-select" id="questionCount" hx-trigger="change" hx-get="/add" hx-target="#problems">
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value="100">100</option>
            </select>
            <label for="questionCount">Choose the number of questions to solve</label>
          </div>
        </div>

        <div class="col">
            <div x-data="{}">
                <button @click="$dispatch('toggle')" type="button" class="btn btn-warning">Show Answers</button>
              </div>
        </div>
    </div>

<div class="container">
  <div class="row justify-content-start g-2" id="problems">
    {% include 'add_problems.html' %}
  </div>
  </div>

</div>

{% endblock %}
