<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/flashcard.css') }}"
    />
    <!-- FA ICONS -->
    <script
      src="https://kit.fontawesome.com/a27cc2b288.js"
      crossorigin="anonymous"
    ></script>

    <!-- HTMX -->
    <script
      src="https://unpkg.com/htmx.org@1.8.6"
      integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav
        class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom d-print-none"
      >
        <a
          href="/"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
        >
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Mathy</span>
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              href="{{ url_for('home') }}"
              class="nav-link{% if request.path == url_for('home') %} active{% endif %}"
              aria-current="page"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Addition
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="{{ url_for('add') }}"
                  >Problem Sheet</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="{{ url_for('addition_flash_cards') }}"
                  >Flash Cards</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('addition_quiz') }}"
                  >Quiz</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Printable Worksheets</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Multiplication
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="{{ url_for('multiply') }}"
                  >Problem Sheet</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="{{ url_for('multiplication_flashcards') }}"
                  >Flash Cards</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('math_quiz') }}"
                  >Quiz</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Printable Worksheets</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a
              href="{{ url_for('division') }}"
              class="nav-link{% if request.path == url_for('division') %} active{% endif %}"
              >Division</a
            >
          </li>
        </ul>
      </nav>

      <main class="container">{% block content %}{% endblock %}</main>

      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"
      ></script>
      <script
        defer
        src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      ></script>
    </div>
  </body>
</html>
